{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Créer un nouvel utilisateur</h3>
                </div>
                <div class="card-body">
                    {{ include('user/_form.html.twig') }}
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}